<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-adyen" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AdyenCordovaPlugin</name>
    <js-module name="AdyenCordovaPlugin" src="www/AdyenCordovaPlugin.js">
        <clobbers target="cordova.plugins.AdyenCordovaPlugin" />
    </js-module>
</plugin>
