<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-adyen" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>AdyenCordovaPlugin</name>
    <js-module name="AdyenCordovaPlugin" src="www/AdyenCordovaPlugin.js">
        <clobbers target="AdyenCordovaPlugin" />
    </js-module>
    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
        <preference name="UseSwiftLanguageVersion" value="5" />
        <config-file parent="/*" target="config.xml">
            <feature name="AdyenCordovaPlugin">
                <param name="ios-package" value="AdyenCordovaPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/AdyenCordovaPlugin.swift" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdyenCordovaPlugin">
                <param name="android-package" value="cordova-plugin-adyen.AdyenCordovaPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/AdyenCordovaPlugin.java" target-dir="src/cordova-plugin-adyen/AdyenCordovaPlugin" />
    </platform>
</plugin>
